.wrapper {
	padding-top: 2em;
	padding-bottom: 2em;
	display: flex;
	justify-content: center;
	align-self: center;

	@media screen and (max-width: 750px) {
		width: 100%;
		padding-right: 2em;
		padding-left: 2em;
	}
}

.container {
	background: #fff;
	padding: 0.75em 2.25em;
	border-radius: 6px;
	box-shadow: 0 5px 10px #00000022;
	overflow: hidden;
	display: flex;
	align-items: center;

	@media screen and (max-width: 750px) {
		width: 100%;
		flex-direction: column;
		padding: 0.75em;
	}
}

.topButtons {
	display: flex;

	@media screen and (max-width: 750px) {
		width: 100%;
		justify-content: space-between;
	}
}

.openTopButtons {
	@media screen and (max-width: 750px) {
		margin-bottom: 0.75em;
	}
}

.links {
	display: inline;

	@media screen and (max-width: 750px) {
		display: none;
		text-align: center;
	}
}

.openLinks {
	@media screen and (max-width: 750px) {
		display: flex;
		flex-direction: column;

		.link {
			margin: 0;
			&:first-child {
				padding: 0.75em;
			}
		}
	}
}

.link {
	margin-right: 1.5em;
	border-radius: 5px;
	padding: 0.75em;
	transition: all 0.1s ease;
	display: inline-block;
}

.link:last-child {
	margin-right: 0;
}

.link:hover {
	background: #00000022;
}

.logo {
	height: 64px;
	vertical-align: middle;
	display: inline-block;
	padding: 0.5em;

	@media screen and (max-width: 750px) {
		margin-right: 0;
	}
}

.burger {
	display: none;
	margin-right: 0;
	width: 64px;
	height: 64px;
	user-select: none;

	&:hover {
		cursor: pointer;
	}

	@media screen and (max-width: 750px) {
		// display: inline-block;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
