.socials {
	margin-top: 1em;
	display: flex;
	flex-direction: row;
}

.socialLink {
	margin-right: 0.5em;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
}

.socialImg {
	width: 100%;
}
