.game {
	margin-bottom: 0.5em;
	background: #fff;
	box-shadow: 0 0 10px #00000022;
	border-radius: 6px;
	padding: 1em;
	height: fit-content;

	.collapse {
		user-select: none;

		&:hover {
			cursor: pointer;
		}
	}

	.collapseIcon {
		height: 1em;
		vertical-align: middle;
		margin-right: 0.5em;
	}

	.name {
		display: inline;
		vertical-align: middle;
	}

	.contents {
		margin-top: 1em;
	}
}
