.stats {
	background: #fff;
	box-shadow: 0 0 10px #00000022;
	margin-bottom: 2em;
	border-radius: 6px;
	padding: 2em;
	height: fit-content;

	@media screen and (max-width: 375px) {
		padding: 1.5em;
	}
}

.player {
	display: flex;
	height: 135px;
	margin-bottom: 1em;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	& > div {
		display: flex;
		flex-direction: row;
		align-items: center;

		@media screen and (max-width: 500px) {
			margin-top: 1em;
		}

		@media screen and (max-width: 325px) {
			flex-direction: column;
		}
	}

	@media screen and (max-width: 500px) {
		flex-direction: column;
		height: fit-content;
	}
}

.bust {
	display: inline-block;
	vertical-align: middle;
	height: 90px;
	margin-left: 25px;
	margin-top: 15px;
	filter: drop-shadow(0 0 4px #000);
	height: 90px;
	width: 90px;
}

.avatar {
	display: inline-block;
	position: relative;
	margin-right: 2em;
	height: 125px;

	&:after {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		content: '';
		width: 135px;
		height: 135px;
		background-repeat: no-repeat;
	}

	@media screen and (max-width: 500px) {
		margin-right: 1.2em;
	}
}

.username {
	text-shadow: 3px 3px #00000022;
	font-family: Minecraftia;
	font-size: 24px;
	font-weight: 100;
	margin-bottom: 0;
	margin-top: -0.3em;
	display: inline-block;
	vertical-align: middle;

	@media screen and (max-width: 600px) {
		font-size: 16px;
		text-shadow: 2px 2px #00000022;
	}

	@media screen and (max-width: 500px) {
		display: inline-block;
		width: max-content;
	}

	@media screen and (max-width: 425px) {
		font-size: 14px;
	}

	@media screen and (max-width: 390px) {
		width: min-content;
		text-align: center;
	}
}

.indicator {
	display: inline-block;
	width: 0.5em;
	height: 0.5em;
	border-radius: 50%;
	vertical-align: middle;
}

.indicatorWrapper {
	margin-left: 1em;

	@media screen and (max-width: 325px) {
		margin: 0;
	}
}

.info {
	font-size: 1em;

	@media screen and (max-width: 375px) {
		font-size: 0.9em;
	}
}

.bold {
	font-weight: 700;
}

// RANK FRAMES

.non {
	height: 90px;
	width: 90px;
	margin-right: 1em;

	.bust {
		height: 90px;
		width: 90px;
		margin: 0;
	}

	&:after {
		height: 90px;
		width: 90px;
	}
}

.vip::after {
	background-image: url(/frames/vip.png);
}

.vipPlus::after {
	background-image: url(/frames/vip-plus.png);
}

.mvp::after {
	background-image: url(/frames/mvp.png);
}

.mvpPlus::after {
	background-image: url(/frames/mvp-plus.png);
}

.mvpPlusPlus::after {
	background-image: url(/frames/mvp-plus-plus.png);
}

.youtuber::after {
	background-image: url(/frames/youtuber.png);
}

.helper::after {
	background-image: url(/frames/helper.png);
}

.moderator::after {
	background-image: url(/frames/moderator.png);
}

.buildTeam::after {
	background-image: url(/frames/build-team.png);
}

.gameMaster::after {
	background-image: url(/frames/gamemaster.png);
}

.admin::after {
	background-image: url(/frames/admin.png);
}
