.color {
	.four {
		color: #aa0000;
	}

	.c {
		color: #ff5555;
	}

	.six {
		color: #ffaa00;
	}

	.e {
		color: #ffff55;
	}

	.two {
		color: #00aa00;
	}

	.a {
		color: #55ff55;
	}

	.b {
		color: #55ffff;
	}

	.three {
		color: #00aaaa;
	}

	.one {
		color: #0000aa;
	}

	.nine {
		color: #5555ff;
	}

	.d {
		color: #ff55ff;
	}

	.five {
		color: #aa00aa;
	}

	.f {
		color: #ffffff;
	}

	.seven {
		color: #aaaaaa;
	}

	.eight {
		color: #555555;
	}

	.zero {
		color: #000000;
	}
}
