.color .four {
	color: #aa0000;
}

.color .c {
	color: #ff5555;
}

.color .six {
	color: #ffaa00;
}

.color .e {
	color: #ffff55;
}

.color .two {
	color: #00aa00;
}

.color .a {
	color: #55ff55;
}

.color .b {
	color: #55ffff;
}

.color .three {
	color: #00aaaa;
}

.color .one {
	color: #0000aa;
}

.color .nine {
	color: #5555ff;
}

.color .d {
	color: #ff55ff;
}

.color .five {
	color: #aa00aa;
}

.color .f {
	color: #ffffff;
}

.color .seven {
	color: #aaaaaa;
}

.color .eight {
	color: #555555;
}

.color .zero {
	color: #000000;
}
