.wrapper {
	padding-top: 2em;
	padding-bottom: 2em;
	display: flex;
	justify-content: center;
	align-self: center;
}

.container {
	background: #fff;
	padding: 0.75em 2.25em;
	border-radius: 6px;
	box-shadow: 0 5px 10px #00000022;
	overflow: hidden;
}

.container > a {
	margin-right: 1.5em;
	border-radius: 5px;
	padding: 0.75em;
	transition: all 0.1s ease;
	display: inline-block;
}

.container > a:last-child {
	margin-right: 0;
}

.container > a:first-child {
	padding: 0.5em;
}

.container > a:hover {
	background: #00000022;
}

.logo {
	height: 3em;
	vertical-align: middle;
	display: inline-block;
}
