.container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.input {
	font-family: inherit;
	font-size: 2em;
	font-weight: 500;
	color: white;
	height: 2em;
	width: 15em;
	background: none;
	border: none;
	border-bottom: 3px solid #ffffff99;
	transition: all 0.2s ease;
	outline: none;
	box-shadow: 0 15px 10px -8px #ffffff33;
}

.input::placeholder {
	transition: all 0.2s ease;
	color: #ffffff55;
}

.input:hover::placeholder {
	color: #ffffff99;
}

.input:focus::placeholder {
	color: #ffffff99;
}

.input:hover {
	border-bottom: 3px solid #fff;
	box-shadow: 0 15px 15px -10px #ffffff99;
}

.input:focus {
	border-bottom: 3px solid #fff;
}
