.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	flex: 1;
}

.username {
	text-shadow: 3px 3px #00000022;
	font-size: 24px;
	font-family: Minecraftia;
	margin-bottom: 0;
	display: inline-block;
	vertical-align: middle;
	line-height: 24px;
}

.indicator {
	display: inline-block;
	width: 0.5em;
	height: 0.5em;
	margin-left: 1em;
	border-radius: 50%;
	vertical-align: middle;
}

.bust {
	display: inline-block;
	vertical-align: middle;
	height: 5em;
	margin-right: 1em;
}

.user {
	height: 100%;
	width: 100%;
	display: flex;
}

.stats {
	background: #fff;
	box-shadow: 0 0 10px #00000022;
	flex: 1;
	margin: 0 1em 2em 2em;
	border-radius: 6px;
	padding: 2em;
	height: fit-content;
}

.games {
	flex: 2;
	margin: 0 2em 2em 1em;
	background: #fff;
	box-shadow: 0 0 10px #00000022;
	border-radius: 6px;
	padding: 2em;
	height: fit-content;
}

.player {
	margin-bottom: 1em;
}

.info {
	font-size: 1.25em;
}

.bold {
	font-weight: 700;
}

.socials {
	margin-top: 1em;
	display: flex;
	flex-direction: row;
}

.sociallink {
	margin-right: 0.5em;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
}

.socialimg {
	width: 100%;
}
